@charset "utf-8";

*,
*::after,
*::before {box-sizing: border-box;}
html,
body {width: 100vw; max-width: 500px; margin: 0 auto; padding: 0; cursor: default; overflow-x: hidden;}

*{font-family: 'GowunDodum-Regular', sans-serif;}
html{overflow : 'hidden';}
.mobile{width: 100%; max-width: 500px; margin: 0 auto; padding-bottom: 15%; border-left: 1px solid #ccc; border-right: 1px solid #ccc; box-shadow: 0px 0px 20px 0px #e0e0e0; position: relative; overflow-x: hidden;}
section{width: 100%; margin-bottom: 20%; text-align: center;}
section:not(:first-child){opacity: 0;}
.copyright{text-align: center; font-size: 12px; color: #505050;}

@font-face {
    /* 한글 폰트 - 고운돋움 */
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.birthstone-regular {
    /* 영문 폰트 - Birthstone */
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style: normal;
}

.rochester-regular {
    font-family: "Rochester", cursive;
    font-weight: 400;
    font-style: normal;
}

/* 로딩화면 */
.loading{position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgb(255 255 255 / 90%); z-index: 3;}
.loading .loading_con{width: 80%; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
.loading .loading_con h1{margin-bottom: 2%;}
.loading .loading_con h1 span{display: inline-block; font-size: 42px; font-family: "Rochester", sans-serif; letter-spacing: -8px; opacity: 0;}
.loading .loading_con h3 span{display: inline-block; letter-spacing: -5px; opacity: 0;}
.loading .loading_con h3 .fc_red{color: rgb(255, 69, 69);}

@keyframes fade {
    to {
        opacity: 1;
    }
}

.main{position: relative;}
.main .bg{width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: linear-gradient(180deg, transparent 70%, #fff 95%);}
.main .main_tit{width: 70%; position: absolute; top: 2%; left: 50%; transform: translateX(-50%); line-height: 1; text-align: center; font-size: 66px; font-weight: bold; font-family: "Birthstone", sans-serif; color: #fff; text-shadow: 1px 3px 2px rgb(95 95 95);}

.main .main_info{width: 90%; margin: 0 auto; padding: 20px 0; text-align: center; border-top: 1px solid #999; border-bottom: 1px solid #999;}
.main .main_info h3{margin-top: 10px;}

.invi_text{text-align: center;}
.invi_text h3{margin-bottom: 30px; color: #ea8a8a;}
.invi_text p{line-height: 1.5}

.tel ul{width: 75%; margin: 0 auto;}
.tel > ul li{margin-bottom: 15px; display: flex; justify-content: space-between; align-items: center; letter-spacing: 0.5px;}
.tel > ul li span:nth-child(2){width: 15%;}
.tel ul li .icon_box{height: 24px; display: flex; align-items: flex-end;}
.tel ul li .icon_box a{width: 20px; height: 20px; margin: 0 5px;}
.tel .w40{display: inline-block; width: 40px; text-align: center;}

.tel .tel_btn{display: block; width: 50%; margin: 30px auto 0; padding: 2% 0; text-align: center; color: #e66363; border: 1px solid #ea8a8a; border-radius: 5px; box-shadow: 3px 3px 5px 0px #bcbcbc;}

.tel .slide_tel{display: none; margin-top: 10%;}
.tel .slide_tel li{margin-bottom: 15px; display: flex; justify-content: space-between; align-items: center;}
.tel .slide_tel li p{flex: 1 1 0;}
.tel .slide_tel li span{font-size: 12px;}
.tel .slide_tel li.groom p{text-align: left; font-weight: bold; color: #5a64be;}
.tel .slide_tel li.bride p{text-align: left; font-weight: bold; color: #e78c8c;}
.tel .slide_tel .parents_tel{flex: 2 0 0;}
.tel .slide_tel .parents_tel li{margin: 8px 0;}
/* .tel .slide_tel p{padding: 0 2px 8px 2px; border-bottom: 1px solid #777;} */

.calendar{padding: 5% 0; background: #fff7f7;}
.calendar .table_box{width: 90%; margin: 5% auto;}
.calendar .table_box h1{font-size: 30px; color: #df7a7a;}
.calendar .table_box .c_red{color: #f93f3f;}
.calendar .table_box .c_blue{color: #5a64be;}
.calendar .table_box table{width: 100%;}
.calendar .table_box table thead td{padding: 5% 0;}
.calendar .table_box table tbody td{padding: 3% 0;}
.calendar .table_box table tbody td.d_day{position: relative; color: #fff; background: url(../img/calendar_heart.png) no-repeat center center / contain;}
.calendar .table_box table tbody td.d_day::after{content: '오후2:30'; width: 100%; position: absolute; bottom: -20%; left: 50%; transform: translateX(-50%); font-size: 10px; color: #f93f3f; z-index: 1;}

.calendar .timer{margin-top: 10%;}
.calendar .timer p{margin-bottom: 3%; letter-spacing: 0.5px;}
.calendar .timer .time{margin-bottom: 5%; font-size: 24px;}
.calendar .timer .time .col{margin-left: -1%; margin-right: 2%; letter-spacing: -1px;}

.gallery h3{margin-bottom: 10%; font-size: 22px; color: #e78c8c; letter-spacing: 1px;}
.gallery .zoom_gallery{width: 95%; margin: 0 auto; display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: 130px 130px 130px; grid-gap: 10px;}
.gallery .zoom_gallery a{position: relative; overflow: hidden;}
.gallery .zoom_gallery a img{width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.mfp-content{width: 85%; margin: 0 auto;}
.mfp-container .mfp-arrow{width: 20px; height: 25px; margin: 0;background: url(../img/bx_arrow.png) no-repeat center center / contain;}
.mfp-container .mfp-arrow-left{left: -3%; transform: scale(-1);}
.mfp-container .mfp-arrow-right{right: -9%; transform: scale(1);}
.mfp-container .mfp-arrow:before, .mfp-arrow:after{content: none;}

.location{padding-top: 10%; background: #fff7f7;}
.location h3{margin-bottom: 7%; color: #df7a7a; letter-spacing: 1px;}
.location h4{font-size: 16px; font-weight: normal; line-height: 1.5; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; letter-spacing: 0.5px;}
.location h4 span{display: block; width: 100%;}
.location p{margin: 2% 0; font-size: 14px;}
.location .icon_tel{display: flex; justify-content: center; align-items: center; font-size: 14px;}
.location .icon_tel img{width: 18px; height: 18px; margin-left: 2%;}

.location .map{width: 95%; height: 300px; margin: 5% auto;}
.location .map_list{width: 95%; margin: 0 auto; padding-bottom: 5%; display: flex; justify-content: space-between; align-items: center;}
.location .map_list li{width: calc(100% / 3 - 6px);}
.location .map_list li a{display: flex; justify-content: center; align-items: center; padding: 10% 0; border-radius: 5px; background: #fff; box-shadow: 3px 3px 3px 2px #f1f1f1;}
.location .map_list li a img{width: 5vw; max-width: 20px; height: 5vw; max-height: 20px; margin-right: 3%;}
.location .map_list li:first-child a img{width: 4vw; max-width: 18px; height: 4vw; max-height: 18px;}
.location .map_list li a span{font-size: 14px; color: #111;}

.location .transfer_info{width: 100%; padding: 5% 4% 0; text-align: left; background: #fff;}
.location .transfer_info h3{margin-top: 10%; margin-bottom: 5%; font-size: 16px;}
.location .transfer_info .subway h3{margin-top: 0;}
.location .transfer_info ul li{line-height: 2.5; font-size: 13px; color: #505050; word-break: keep-all; letter-spacing: -0.5px;}
.location .transfer_info ul li.parking_info{margin-top: 3%; text-align: center; font-size: 11px;}

.location .transfer_info ul li .sub_line{padding: 1% 3%; margin-left: 1%; font-size: 13px; border-radius: 25px; color: #fff;}
.location .transfer_info ul li .line_1{background: #365abc;}
.location .transfer_info ul li .line_kyeongui{background: #3D9E9E;}
.location .transfer_info ul li .line_kyeongchun{background: #87d7be;}

.location .transfer_info .bus ul li:not(:first-child){display: flex; justify-content: flex-start; align-items: flex-start; margin-bottom: 2%;}
.location .transfer_info ul li .bus_line{padding: 0% 3%; margin-top: 1%; margin-right: 3%; line-height: 2.3; font-size: 11px; border-radius: 25px; color: #fff;}
.location .transfer_info ul li .line1{background: #386de8;}
.location .transfer_info ul li .line2{background: #3cc344;}
.location .transfer_info ul li .line3{background: #fb5852;}
.location .transfer_info ul li .line4{background: #8841d2;}

.account{padding: 10% 0 5%; background: #fff7f7;}
.account h3{margin-bottom: 7%; color: #df7a7a; letter-spacing: 1px;}
.account > p{margin-bottom: 5%; line-height: 1.7; font-size: 14px; color: #505050}
.account .account_info{width: 93%; margin: 0 auto;}
.account .account_info > ul > li{margin-bottom: 5%; border: 1px solid #ccc; border-radius: 10px; background: #fff; box-shadow: 3px 3px 3px 2px #f1f1f1;}
.account .account_info > ul > li > a{padding: 3% 10%; display: flex; justify-content: space-between; align-items: center; font-weight: bold;}
.account .account_info > ul > li > a .arrow_btn{width: 8vw; max-width: 33px; height: 8vw; max-height: 33px; transition: 0.5s;}
.account .account_info > ul > li > a .arrow_btn.on{transform: rotate(180deg); transition: 0.5s;}
.account .account_info > ul > li.groom > a{text-align: left; color: #5a64be;}
.account .account_info > ul > li.bride > a{text-align: left; color: #e78c8c;}

.account .account_info ul .slide_account{display: none;}
.account .account_info ul .slide_account li{padding: 5% 10% 3%; text-align: left; border-top: 0.5px solid #ddd;}
.account .account_info ul .slide_account li p{margin-bottom: 3%;}
.account .account_info ul li.groom .slide_account li p{color: #5a64be;}
.account .account_info ul li.bride .slide_account li p{color: #e78c8c;}
.account .account_info ul .slide_account li span{display: block; margin-bottom: 2%; font-size: 14px;}
.account .account_info ul .slide_account li .copy_btn{position: absolute; top: 50%; right: 5%; transform: translateY(-50%); padding: 1.5% 5%; font-size: 13px; color: #353535; border: 1px solid #ddd; border-radius: 3px; box-shadow: 2px 2px 2px 1px #f1f1f1;}

.account .account_info .copied_msg{width: 70%; padding: 4% 0; position: fixed; bottom: -30%; left: 50%; transform: translateX(-50%); font-size: 16px; color: #fff; background: #4c4c4c; border-radius: 5px; box-shadow: 3px 3px 7px 1px #2e2e2e; opacity: 0; transition: all 0.5s ease-in-out;}

.video h3{margin-bottom: 10%; color: #e78c8c; letter-spacing: 1px;}
.video iframe{width: 93%; height: 52vw; max-height: 260px;}

.share a{display: flex; justify-content: center; align-items: center; width: 70%; margin: 0 auto 3%; padding: 2% 0; font-size: 13px; border: 1px solid #969696; border-radius: 5px;}
.share a img{width: 20px; height: 20px; margin-right: 3px;}

/* waypoint */
.fadeInUp{animation-name: fadeInUp; animation-duration: 1s; animation-fill-mode: both; visibility: visible;}

@keyframes fadeInUp{
    0%{opacity: 0; transform: translateY(20px);}
    100%{opacity: 1; transform: translateY(0);}
}